/* ヘッダー */
header{
  text-align: center;
  margin:0 auto;
}

header p{
  display: inline-block;
}

.announce{
  font-size: 11px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
}

.tel{
  font-size: 15px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
}

h2{
  font-size: 35px;
}

/* メニュー */
.menu{
  list-style-type: none;
  font-size: 23px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
  text-align: center;
  margin: 0 auto;
}

.menu li{
  display: inline-block;
  padding:0 22px;
  /* background-color: aquamarine; */
}

.menu-li{
  text-decoration: none;
}


/* パンくず */
.bread{
  margin-left: 180px;
}

.bread li {
  display:inline-block;
  font-size: 15px;
}
.bread li a {
  color: #333333;
  display:inline-block;
  padding:8px 0;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.bread li a:hover{
  opacity: 0.6;
}

/* 矢印 */
.bread li:after {
  content: "";
  display: inline-block;
  margin: 0 8px;
  height: 6px;
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  width: 6px;
}
.bread li:last-child:after {
  display:none;
}


/* ニュース */
.news{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
  text-align: center;
  margin-top: 60px;
}

.msr_newslist01 {
  border-top: 1px solid #AAAAAA;
  width: 70%;
  list-style: none;
  margin:0 auto;
}
.msr_newslist01 li {
  border-bottom: 1px solid #AAAAAA;
  font-size: 14px;
}
.msr_newslist01 li a {
  box-sizing: border-box;
  color: #000000;
  display: table;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
}
.msr_newslist01 li a:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.msr_newslist01 li div {
  display: table-cell;
  width: 144px;
}
.msr_newslist01 li p {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}

/* 時間の設定 */
.msr_newslist01 li time {
  display: table-cell;
  vertical-align: top;
  width: 90px;
}

/* カテゴリの設定 */
.msr_newslist01 li .cat01,
.msr_newslist01 li .cat02,
.msr_newslist01 li .cat03 {
  background-color: rgb(58, 183, 187);
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  padding: 0 2px;
  text-align: center;
  width: 50px;
}
.msr_newslist01 li .cat02 {
  background-color: rgb(42, 209, 167);
}

.msr_newslist01 li .cat03{
  background-color: rgb(250, 181, 221);
}

/* ページナンバー */
.page{
 margin-left: 1035px;
 margin-top: 13px;
 padding: 5px 10px;
 font-size: 18px;
 width: 20%;
}

.page-1{
  background-color:  rgb(58, 183, 187);
  color: white;
  padding: 5px 12px;
}

.page-number{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
  background-color: #efefefef;
  text-decoration: none;
  padding: 5px 12px;
  margin-left: 3px;
}

.page-number:hover{
  background-color: rgb(70, 221, 226);
}


/* ページトップ */
.pagetop{
  position: fixed;
  bottom:20px;
  right:50px;
}

/* フッター */
.footer{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
  font-size: 12px;
  /* background-color: rgb(190, 190, 190); */
  background-color: #161616;
  text-align: center;
}

.button{
  margin-top: 35px;
}

.footer a{
  background-color: rgb(223, 215, 215);
  padding:20px 40px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  box-shadow:0px 4px gray;
  display: inline-block;
  margin-top: 80px;
}

.footer a:active{
  box-shadow: none;
}

.footer p{
  padding-top: 25px;
  padding-bottom: 20px;
  color: white;
}

/* Googlemap */
#location{
  padding:4% 0;
}

#location .wrapper-bottom{
  display: flex;
  justify-content: center;
}


.location-info p{
  padding:12px 10px;
  text-align: left;
}

.location-info h3{
  color:white;
  font-size: 14px;
}

.location-info u{
  color:white;
}