/* ヘッダー */
header{
  text-align: center;
  margin:0 auto;
}

header p{
  display: inline-block;
}

.announce{
  font-size: 11px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
}

.tel{
  font-size: 15px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
}

h2{
  font-size: 35px;
}

/* メニュー */
.menu{
  list-style-type: none;
  font-size: 23px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
  text-align: center;
  margin: 0 auto;
}

.menu li{
  display: inline-block;
  padding:0 22px;
  /* background-color: aquamarine; */
}

.menu-li{
  text-decoration: none;
}

/* パンくず */
.bread{
  margin-left: 180px;
}

.bread li {
  display:inline-block;
  font-size: 15px;
}
.bread li a {
  color: #333333;
  display:inline-block;
  padding:8px 0;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.bread li a:hover{
  opacity: 0.6;
}

/* 矢印 */
.bread li:after {
  content: "";
  display: inline-block;
  margin: 0 8px;
  height: 6px;
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  width: 6px;
}
.bread li:last-child:after {
  display:none;
}

h2{
  font-size: 35px;
  text-align: center;
}

.sub{
  margin-left: 200px;
}

.sub h3{
  font-size: 25px;
  display: inline-block;
}

.sub p{
  font-size: 18px;
  display: inline-block;
  margin-left: 8px;
}

.sub-1{
  margin-top: 80px;
}

/* 要項 */
.table{
  margin-left: 150px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
  width: 70%;
}

.table tr{
  margin: 0;
  padding: 0;
}

.table th{
  border-bottom: 1px solid #d3d3d3;
}

.table td{
  border-bottom: 1px solid #d3d3d3;
  line-height: 32px;
}

.table-1{
  margin-bottom: 100px;
}

/* ページトップ */
.pagetop{
  position: fixed;
  bottom:20px;
  right:50px;
}

/* フッター */
.footer{
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif" !important;
  font-size: 12px;
  /* background-color: rgb(190, 190, 190); */
  background-color: #161616;
  text-align: center;
}

.button{
  margin-top: 35px;
}

.footer a{
  background-color: rgb(223, 215, 215);
  padding:20px 40px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  box-shadow:0px 4px gray;
  display: inline-block;
  margin-top: 80px;
}

.footer a:active{
  box-shadow: none;
}

.footer p{
  padding-top: 25px;
  padding-bottom: 20px;
  color: white;
}

/* Googlemap */
#location{
  padding:4% 0;
}

#location .wrapper-bottom{
  display: flex;
  justify-content: center;
}


.location-info p{
  padding:12px 10px;
  text-align: left;
}

.location-info h3{
  color:white;
  font-size: 14px;
}

.location-info u{
  color:white;
}